<!DOCTYPE html>
<html lang="en">
<head>
    <title>冯蜀黍追番表</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery.repeater/1.2.1/jquery.repeater.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .header {
            background: url("/static/header.png");
            background-size: cover;
            padding-top: 10%;
            padding-bottom: 10%;
        }

        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            color: #fff;
            background-color: #333333;
        }

        a {
            color: #999;
        }

        a:focus, a:hover {
            color: #555;
        }
    </style>
</head>
<body>

<div class="jumbotron text-center header">
    <h1>追番表</h1>

    <p>Here is some meaningless text just for beauty</p>
</div>

<div class="container">
    <div class="row" style=" padding-bottom: 15%; ">
        <div class="col-sm-offset-3 col-sm-2">
            <h3>日期</h3>
            <ul class="nav nav-pills nav-stacked">
                <!--<li class="active"><a data-toggle="pill" href="#m1">星期一</a></li>-->
                {% for i in range(7) %}
                <li {% if cur_weekday == i %} class="active" {% end %}><a data-toggle="pill"
                                                                          href="#{{ i }}">{{ WEEKDAY_NAME[i] }}</a></li>
                {% end %}
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="tab-content">
                {% for day_name in bangumi_info %}
                <div id="{{ day_name }}" class="tab-pane fade {% if cur_weekday == day_name %} in active {% end %}">
                    <h3>{{ WEEKDAY_NAME[day_name] }}</h3>

                    <div class="pre-scrollable">
                        {% for record in bangumi_info[day_name] %}
                        <p>
                            {{ record['title'] }}
                            {#                                <small class="text-danger">new</small>#}
                            </br>
                            {% for url_name in record['url'] %}
                            <small>
                                <a href="{{ record['url'][url_name] }}">{{ url_name }}
                                    {% if record['update_time'][url_name] is not None %}
                                    {{ "%02d:%02d" % (record['update_time'][url_name].hour, record['update_time'][url_name].minute) }}
                                    {% end %}
                                </a> &nbsp;
                            </small>
                            {% end %}
                        </p>
                        {% end %}
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
</div>

</body>
</html>
